NET "CLK" LOC = B8;
NET "RamData[0]" LOC = J12;
NET "RamData[1]" LOC = J13;
NET "RamData[2]" LOC = J14;
NET "RamData[3]" LOC = J15;
NET "RamData[4]" LOC = J16;
NET "RamData[5]" LOC = J17;
NET "RamData[6]" LOC = K12;
NET "RamData[7]" LOC = K13;
NET "SW[0]" LOC = R1;
NET "SW[1]" LOC = N2;
NET "SW[2]" LOC = N1;
NET "SW[3]" LOC = M1;
NET "SW[4]" LOC = K7;
NET "SW[5]" LOC = K2;
NET "SW[6]" LOC = J7;
NET "SW[7]" LOC = J6;
NET "L[0]" LOC = D10;
NET "L[1]" LOC = E10;
NET "L[2]" LOC = A11;
NET "L[3]" LOC = B11;
NET "L[4]" LOC = C11;
NET "L[5]" LOC = D11;
NET "L[6]" LOC = E11;
NET "L[7]" LOC = F11;
NET "RamEN" LOC = M15;
NET "RamOE" LOC = M16;
NET "RamWE" LOC = M18;
NET "rdn" LOC = C14;
NET "data_ready" LOC = A16;
NET "RST" LOC = U10;
NET "tbre" LOC = D14;
NET "tsre" LOC = N9;
NET "wrn" LOC = U5;

NET "mode[0]" LOC = R7;
NET "mode[1]" LOC = T7;
